In [1]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/mycart.csv'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(path,
                header = None)
df

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cookies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,turkey,burgers,mineral water,eggs,cooking oil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,red wine,tomato sauce,spaghetti,chocolate,olive oil,french fries,salt,asparagus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6996,soup,milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6997,eggs,whole wheat rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6998,brownies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6999,herb & pepper,spaghetti,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
import numpy as np

In [24]:
pip install matplotlib

Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.5.3)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.4.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [25]:
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv(path,
                header = None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cookies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,turkey,burgers,mineral water,eggs,cooking oil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,red wine,tomato sauce,spaghetti,chocolate,olive oil,french fries,salt,asparagus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6996,soup,milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6997,eggs,whole wheat rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6998,brownies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6999,herb & pepper,spaghetti,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
transaction = []
for i in range(0, df.shape[0]):
    for j in range(0, df.shape[1]):
        transaction.append(df.values[i,j])

transaction

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil',
 'burgers',
 'meatballs',
 'eggs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'chutney',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'cookies',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'turkey',
 'burgers',
 'mineral water',
 'eggs',
 'cooking oil',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'spaghetti',
 'champagne',
 'cookies',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'mineral water',
 'salmon',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'mineral water',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'shrimp',
 'chocolate',
 'chicken',
 'honey',
 'oil',
 'cooking oil',
 'low fat yogurt',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'turkey',
 'eggs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'turkey',
 'fresh tuna',
 'tomatoes',
 'spaghetti',
 'mineral water',
 'black tea',
 'salmon',
 'eggs',
 'chicken',
 'extra dark chocolate',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'meatballs',
 'milk',
 'honey',
 'french fries',
 'protein bar',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'red wine',
 'shrimp',
 'pasta',
 'pepper',
 'eggs',
 'chocolate',
 'shampoo',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'rice',
 'sparkling water',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'spaghetti',
 'mineral water',
 'ham',
 'body spray',
 'pancakes',
 'green tea',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'burgers',
 'grated cheese',
 'shrimp',
 'pasta',
 'avocado',
 'honey',
 'white wine',
 'toothpaste',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'eggs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'parmesan cheese',
 'spaghetti',
 'soup',
 'avocado',
 'milk',
 'fresh bread',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'ground beef',
 'spaghetti',
 'mineral water',
 'milk',
 'energy bar',
 'black tea',
 'salmon',
 'frozen smoothie',
 'escalope',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'sparkling water',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'mineral water',
 'eggs',
 'chicken',
 'chocolate',
 'french fries',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'frozen vegetables',
 'spaghetti',
 'yams',
 'mineral water',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'herb & pepper',
 'tomato sauce',
 'light cream',
 'magazines',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'mineral water',
 'chocolate',
 'avocado',
 'eggs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'turkey',
 'french fries',
 'strawberries',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'frozen vegetables',
 'strong cheese',
 'chocolate',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'cookies',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'pickles',
 'spaghetti',
 'salmon',
 'escalope',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'energy bar',
 'french fries',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'red wine',
 'ground beef',
 'mineral water',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'mineral water',
 'cake',
 'cottage cheese',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'pickles',
 'champagne',
 'green tea',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'spaghetti',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'fresh tuna',
 'frozen vegetables',
 'spaghetti',
 'mineral water',
 'honey',
 'whole wheat rice',
 'frozen smoothie',
 'escalope',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'spaghetti',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'soup',
 'meatballs',
 'hot dogs',
 'sparkling water',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'escalope',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'energy drink',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'soup',
 'bug spray',
 'shallot',
 'protein bar',
 'green tea',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'turkey',
 'eggs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'french fries',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'chocolate',
 'milk',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'herb & pepper',
 'whole wheat pasta',
 'ground beef',
 'mineral water',
 'avocado',
 'cider',
 'whole wheat rice',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'cookies',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'shrimp',
 'pasta',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'grated cheese',
 'herb & pepper',
 'tomatoes',
 'tomato sauce',
 'corn',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'burgers',
 'escalope',
 'shallot',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'cookies',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'yogurt cake',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'soup',
 'eggs',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [28]:
transaction = np.array(transaction)
transaction

array(['shrimp', 'almonds', 'avocado', ..., 'nan', 'nan', 'nan'],
      dtype='<U32')

In [29]:
ndf = pd.DataFrame(transaction, 
                  columns=["items"]
                 ) 
ndf.head()

            items
0          shrimp
1         almonds
2         avocado
3  vegetables mix
4    green grapes

In [30]:
ndf["incident_count"] = 1 
ndf.head()

            items  incident_count
0          shrimp               1
1         almonds               1
2         avocado               1
3  vegetables mix               1
4    green grapes               1

In [31]:
ndf[ndf['items'] == "nan"]

       items  incident_count
23       nan               1
24       nan               1
25       nan               1
26       nan               1
27       nan               1
...      ...             ...
139995   nan               1
139996   nan               1
139997   nan               1
139998   nan               1
139999   nan               1

[112190 rows x 2 columns]

In [32]:
id_to_delete = ndf[ndf['items'] == "nan" ].index
id_to_delete

Int64Index([    23,     24,     25,     26,     27,     28,     29,     30,
                31,     32,
            ...
            139990, 139991, 139992, 139993, 139994, 139995, 139996, 139997,
            139998, 139999],
           dtype='int64', length=112190)

In [33]:
ndf.drop(id_to_delete , 
         inplace=True
        )
ndf[ndf['items'] == "nan"]

Empty DataFrame
Columns: [items, incident_count]
Index: []

In [34]:
df_table = ndf.groupby("items").sum().sort_values("incident_count", 
                                                 ascending=False
                                                ).reset_index()
df_table.head()

           items  incident_count
0  mineral water            1687
1           eggs            1261
2      spaghetti            1238
3   french fries            1211
4      chocolate            1170

In [35]:
df_table.head().style.background_gradient(cmap='Blues')

In [36]:
df_table["all"] = "with desired threshold" # to have a same origin
df_table.head()

           items  incident_count                     all
0  mineral water            1687  with desired threshold
1           eggs            1261  with desired threshold
2      spaghetti            1238  with desired threshold
3   french fries            1211  with desired threshold
4      chocolate            1170  with desired threshold

In [37]:
pip install plotly

Requirement already satisfied: plotly in /srv/conda/envs/notebook/lib/python3.7/site-packages (5.11.0)
Requirement already satisfied: tenacity>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from plotly) (8.1.0)
Note: you may need to restart the kernel to use updated packages.

In [38]:
import plotly.express as px
import plotly.io as pio # to see the plotly graphs in jupyternotebooks
pio.renderers.default = 'iframe'

In [40]:
fig = px.treemap(df_table,
                 path=['all', 'items'], 
                 values='incident_count',
                 color=df_table["incident_count"].head(120), 
                 hover_data=['items'],
                 color_continuous_scale='Blues',
                )
fig.show()

/srv/conda/envs/notebook/lib/python3.7/site-packages/plotly/io/_renderers.py:395: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

/srv/conda/envs/notebook/lib/python3.7/site-packages/plotly/io/_renderers.py:395: DeprecationWarning:

distutils Version classes are deprecated. Use packaging.version instead.

In [41]:
transaction = []
for i in range(df.shape[0]):
    transaction.append([str(df.values[i,j]) 
                        for j in range(df.shape[1])
                       ])

transaction = np.array(transaction)# creating the numpy array of the transactions
transaction

array([['shrimp', 'almonds', 'avocado', ..., 'frozen smoothie',
        'spinach', 'olive oil'],
       ['burgers', 'meatballs', 'eggs', ..., 'nan', 'nan', 'nan'],
       ['chutney', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ...,
       ['eggs', 'whole wheat rice', 'nan', ..., 'nan', 'nan', 'nan'],
       ['brownies', 'nan', 'nan', ..., 'nan', 'nan', 'nan'],
       ['herb & pepper', 'spaghetti', 'low fat yogurt', ..., 'nan',
        'nan', 'nan']], dtype='<U20')

In [42]:
pip install mlxtend

Requirement already satisfied: mlxtend in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.21.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.3.5)
Requirement already satisfied: joblib>=0.13.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (3.5.3)
Requirement already satisfied: numpy>=1.16.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (1.21.6)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.7/site-packages (from mlxtend) (65.4.1)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (9.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2022.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: typing-extensions in /srv/conda/envs/notebook/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.4.0)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [43]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transaction).transform(transaction)

encoded_df = pd.DataFrame(te_ary, 
                          columns=te.columns_
                         )
encoded_df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
6998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [44]:
first10 = encoded_df.head(10)#.values 
first10
##dataset = first10.loc[:,first10] # Extract Top 10
dataset = encoded_df
dataset.shape

(7000, 121)

In [45]:
print(type(encoded_df))
encoded_df.columns

<class 'pandas.core.frame.DataFrame'>

Index([' asparagus', 'almonds', 'antioxydant juice', 'asparagus', 'avocado',
       'babies food', 'bacon', 'barbecue sauce', 'black tea', 'blueberries',
       ...
       'turkey', 'vegetables mix', 'water spray', 'white wine',
       'whole weat flour', 'whole wheat pasta', 'whole wheat rice', 'yams',
       'yogurt cake', 'zucchini'],
      dtype='object', length=121)

In [46]:
encoded_df.drop(['nan'],
                axis = 1,
                inplace = True
               )
encoded_df

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6995,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
6998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [56]:
from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets = fpgrowth(encoded_df,
                             min_support=0.08, 
                             use_colnames=True
                            )
frequent_itemsets#.head(11)

      support                      itemsets
0    0.241000               (mineral water)
1    0.133000                   (green tea)
2    0.077857              (low fat yogurt)
3    0.073143                      (shrimp)
4    0.068143                   (olive oil)
..        ...                           ...
371  0.008571           (butter, chocolate)
372  0.008286  (mineral water, french wine)
373  0.009857     (mineral water, brownies)
374  0.008286      (french fries, brownies)
375  0.010429      (mineral water, cereals)

[376 rows x 2 columns]

In [57]:
from mlxtend.frequent_patterns import association_rules

association_RULE = association_rules(frequent_itemsets, 
                                      metric = "lift", 
                                      min_threshold = 1.3
                                     )


association_RULE

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(green tea, spaghetti)",(mineral water),0.026571,0.241000,0.008429,0.317204,1.316200,0.002025,1.111606
1,"(green tea, mineral water)",(spaghetti),0.031857,0.176857,0.008429,0.264574,1.495976,0.002794,1.119274
2,(spaghetti),"(green tea, mineral water)",0.176857,0.031857,0.008429,0.047658,1.495976,0.002794,1.016591
3,(mineral water),"(green tea, spaghetti)",0.241000,0.026571,0.008429,0.034973,1.316200,0.002025,1.008706
4,(low fat yogurt),(mineral water),0.077857,0.241000,0.024429,0.313761,1.301915,0.005665,1.106029
...,...,...,...,...,...,...,...,...,...
543,(french wine),(mineral water),0.022714,0.241000,0.008286,0.364780,1.513609,0.002812,1.194861
544,(french fries),(brownies),0.173000,0.034429,0.008286,0.047894,1.391121,0.002330,1.014143
545,(brownies),(french fries),0.034429,0.173000,0.008286,0.240664,1.391121,0.002330,1.089109
546,(mineral water),(cereals),0.241000,0.026714,0.010429,0.043272,1.619811,0.003990,1.017307
547,(cereals),(mineral water),0.026714,0.241000,0.010429,0.390374,1.619811,0.003990,1.245026